<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC-example</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/jquery/jquery.min.js"></script>

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">MVC</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user/list">listar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/create">cadastrar</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    </header>
    <main class="container">

        <!-- < %- body % > é o ponto em que todos os arquivos ejs terão seu conteudo subistutido nessa tag -->
        <%- body %> 

    </main>
    <footer class="bg-dark p-3 text-center">

        <!-- < %=   % > é uma tag do ejs que pertime você usar javascript e imprimir os valores resultantes -->
        <span class="text-light">COPYRIGHT © <%= new Date().getFullYear() %> Wilker Sebastian Afonso Pereira</span>

    </footer>

    <script src="/popperjs/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>